
<div class="container">
<header>
  
  <img src="../assets/348.svg" />
  <h1>Firestore Offline</h1>

</header>


  <form [formGroup]="phrasesForm" (ngSubmit)="addPhrase(phrasesForm.value)">

    <input type="text" formControlName="quote" placeholder="Phrase or Quote">
    <input type="text" formControlName="author" placeholder="Author">
    <input type="submit" value="add phrase" [disabled]="!phrasesForm.valid"  >
  </form>


  <div>
    <div *ngFor="let phrase of phrasesArray ">
      <q>{{phrase.quote}}</q>
      <span>&nbsp; {{phrase.author}}</span>
    </div>
  </div>
</div>